/* styles.css */
body {
    font-family: 'Jersey 10', sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #audioPlayer::-webkit-media-controls-time-remaining-display {
    display: none;
}

.container {
    font-family: "Jersey 10", sans-serif;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

audio {
    width: 100%;
    margin-top: 7px;
}
/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    

}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    width: calc(100% - 60px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#guessButton {
    margin-left: 10px;
    margin: 20px auto;
    
}

#resultText {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}


.audio-player {
   width: 100%;  /* Set a desired width */
    margin: 10px auto;  /* Center the player */
    background-color: beige;  /* Light background */
    border-radius: 5px;  /* Rounded corners */
  }
  
  .audio-player::-webkit-media-controls-play-button {  /* Style play button (Chrome, Safari) */
    background-color: #3498db;  /* Adjust color */
    color: #fff;  /* Adjust text color */
    border: none;
    border-radius: 5px;  /* Rounded corners */
  }
  
  .audio-player::-webkit-media-controls-paused-overlay {  /* Style pause overlay (Chrome, Safari) */
    background-color: rgba(0, 0, 0, 0.3);  /* Semi-transparent overlay */
  }
  
  .audio-player::-webkit-media-controls-timeline {  /* Style progress bar (Chrome, Safari) */
    background-color: #ddd;  /* Adjust progress bar color */
    height: 5px;  /* Adjust height */
  }
  
  .audio-player::-webkit-media-controls-current-time {  /* Style elapsed time (Chrome, Safari) */
    color: #3498db;  /* Adjust color */
  }
  
  .audio-player::-webkit-media-controls-remaining-time {  /* Style remaining time (Chrome, Safari) */
    color: #ccc;  /* Adjust color */
  }
